/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Better approach to reset the page as it also sets these properties to these other psuedo classes */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom, rgba(126,213,111,0.8),#28b485b7), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);

}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
    
}

.header__logo{
    height: 3.5rem;
}


.header__heading-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
      
}

.heading-primary--main{
        font-size: 6rem;
        display: block;
        letter-spacing: 3.5rem;
        font-weight: 400;
        animation-name: main-heading;
        animation-duration: 1s;
    
       
}
.heading-primary--sub{
    display: block;
    letter-spacing: 1.75rem;
    font-weight: 700;
    font-size: 2rem;
    animation-name: sub-heading;
    animation-duration: 1s;
}

#discover-button{
    animation-name: discover-button;
    animation-fill-mode: backwards;
    animation-duration: .5s;
    animation-delay: 1s;
    font-size: 1.5rem;
}

.btn:link, .btn:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
    transition: all .2s;
    padding: 1em 4em;
    border-radius: 15rem;
    margin-top: 40px;
    position: relative;
    
}


.btn--white{
    background-color: #ffffff;
}

.btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    transition: all .2s;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn--white::after{
    background-color: #ffffff;
}

/* adding a transition when the button is hovered as well as adding animations to make button look sexier when hovered */
.btn:hover{
    transform: translateY(-5%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

.btn:hover::after{
    transform: scale(2);
    opacity: 0;
}

.btn:active{
    transform: translateY(5%);
    box-shadow: 0 5px 10px rgba(189, 9, 9, 0.8)
}


@keyframes main-heading{
    0%{
        transform: translateX(-10rem);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes sub-heading{
    0%{
        transform: translateX(10rem);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes discover--button{
    0%{
        transform: translateY(4rem);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}


/* Configuring all the animations present in the code */
@keyframes button-animation{
    100%{
        padding: 1em 3em 1em 3em;
    }
   
}


@keyframes stop{
    100%{
        opacity: 0.1;
    }
}

/* Media queries for responsive designs */

@media only screen and (max-width:800px){
    html{
        font-size: 60%;
    }
    body{
        padding: 0%;
    }
}

@media only screen and (max-width:540px){
    html{
        font-size: 7px;
    }
}

@media only screen and (max-width:480px){
    html{
        font-size: 5px;
    }
    #discover--button{
        font-size: 2.4rem;
    }
}