@import "abstracts/functions";
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import "base/typography";
@import "base/base";
@import "base/animations";
@import "base/utilities";

@import 'components/button';

@import 'components/composition';

@import 'layout/header';
@import 'layout/grid';

@import 'pages/home';
 











@media only screen and (max-width:540px){
    html{
        font-size: 6px;
    }
}

@media only screen and (max-width:480px){
    html{
        font-size: 5px;
    }
    #discover--button{
        font-size: 2.4rem;
    }
}