.section-about{
    background-color: $color-grey-white;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    
    padding: 20rem 0;
    background-image: $bg-gradient, url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-6deg);
    margin-top: -10rem;

    &>*{
        transform: skewY(7deg);
    }

}

.section-tours{
    background-color: $color-grey-white;
    margin-top: -10rem;
    padding: 20rem 0 50rem 0;

}