.feature-box{
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 1.5em;
    border-radius: 3px;
    box-shadow: $box-shadow;
    text-align: center;

    &__icon{
        
        font-size: 3em;
        margin-bottom: 0.33em;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        background-clip: text;
        padding: 3px;
        color: transparent;
    }

    &:hover{
        transition:transform .3s ;
        transform: translateY(-.5em) scale(1.05);
        box-shadow: 0 1.5em 2em rgba($color-black, 0.4);
        
    }

    
} 