body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
    padding: 3rem;
}
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;


    &--main{
        font-size: 6rem;
        display: block;
        letter-spacing: 3.5rem;
        font-weight: 400;
        animation-name: main-heading;
        animation-duration: 1s;
    
       
    }
    &--sub{
        display: block;
        letter-spacing: 1.75rem;
        font-weight: 700;
        font-size: 2rem;
        animation-name: sub-heading;
        animation-duration: 1s;
    }
      
}


#discover--button{
    animation-name: discover-button;
    animation-fill-mode: backwards;
    animation-duration: .5s;
    animation-delay: 1s;
    font-size: 1.5rem;
}

.heading-secondary{
    font-size:3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: .2s all;

    &:hover{
        transform:skewY(2deg) skewX(15deg);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size:1.6rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}